body {
    background-color: #F7FFD1;
    color:#2D3A3A;
    font-family: 'Ubuntu', sans-serif;
}

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  