
hr {
    width: 1480px;
}

.returnHome {
    background-color: #732C2C;
    color: #F7FFD1;
    border-radius: 8px;
    width: 130px;
    height: 30px;
    font-size: 17px;
}

img {
    width: 90px;
    height: auto;
    border-radius: 50px;
    border-color: #435C3E;
    border-style: solid;
    border-width: 1px;
    margin-left: 40px;
}

.userName {
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 25px;
    font-weight: normal;
}

.navbar {
    float: left; 
    border-style: solid; 
    border-color: #435C3E;
    border-radius: 8px;
    height: 374px; 
    width: 129px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    border-color: #435C3E;
    background-color: #732C2C;
    color: #F7FFD1;
    height: 74.8px; 
    width: 129px; 
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

li a:hover {
    background-color: #ae4444;
}

.container {
    padding-top: 20px; 
    border-style: solid;
    border-width: 1px;
    border-color: #435C3E;
    border-radius: 8px;
    height: 580px; 
    width: 1300px; 
    margin-left: 165px;
    margin-top: 10px;
}

.post {
    height: 150px; 
    width: 1050px; 
    border-style: solid;
    border-width: 1px; 
    border-color: #435C3E;
    border-radius: 8px;
}

.clickPost {
    height: 100px; 
    width: 1440px;
    text-align: justify; 
}

.interactPost {
    height: 50px; 
    width: 200px;
    background-color: #732C2C;
    border-style: none;
    color: #F7FFD1;
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
    text-align: center;
    border-radius: 8px;
}

.interactPost:hover {
    background-color: #ae4444;
}

.navbar {
    float: left; 
    border-style: solid; 
    border-color: #435C3E;
    border-radius: 8px;
    height: 374px; 
    width: 129px;
    margin-top: 200px;
}

.pagination {
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
    background-color: #732C2C;
    color: #F7FFD1;
    border-radius: 8px;
    border-style: none;
    padding: 6px 50px;
    float: left;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.pagination:hover {
    background-color: #ae4444;
}