.searchBar {
    padding-left: 80px;
    height: 40px;
}

.searchInput {
    width: 900px; 
    height: 30px;
    background-color: #f7fcdf;
    border-style: solid; 
    border-color: #435C3E;
    border-radius: 10px;
    margin-left: 270px; 
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    float: left; 
    border-style: solid; 
    border-color: #435C3E;
    border-radius: 8px;
    height: 374px; 
    width: 129px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    border-color: #435C3E;
    background-color: #732C2C;
    color: #F7FFD1;
    height: 74.8px; 
    width: 129px; 
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

li a:hover {
    background-color: #ae4444;
}

.createPost {
    height: 80px; 
    width: 80px;
    margin-left: 10px;
    margin-top: 100px; 
    font-size: 90px; 
    text-align: center;
    padding-bottom: 32px;
    padding-left: 9px;
    padding-right: 8px;
    background-color: #F7FFD1;
    border-style: none;
    color: #435C3E;

}

.createPost:hover {
    background-color: #e0eab8;
    border-radius: 10000px;
}

.container {
    padding-top: 20px; 
    border-style: solid;
    border-width: 1px;
    border-color: #435C3E;
    border-radius: 8px;
    height: 580px; 
    width: 1300px; 
    margin-left: 165px;
    margin-top: 10px;
}

.post {
    height: 150px; 
    width: 1050px; 
    border-style: solid;
    border-width: 1px; 
    border-color: #435C3E;
    border-radius: 8px;
}

.clickPost {
    height: 100px; 
    width: 1440px;
    text-align: justify; 
}

.interactPost {
    height: 50px; 
    width: 347.5px;
    background-color: #732C2C;
    border-style: none;
    color: #F7FFD1;
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
    text-align: center;
    border-radius: 8px;
}

.interactPost:hover {
    background-color: #ae4444;
}

.pagination {
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}
  
.pagination button {
    background-color: #732C2C;
    color: #F7FFD1;
    border-radius: 8px;
    border-style: none;
    float: left;
    padding: 6px 50px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.pagination button:hover {
    background-color: #ae4444;
}