<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookbook - My Bookmarks</title>
    <meta name="description" content="description" />
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bookmarkPage.css') }}" type="text/css" />
    <style type="text/css">
      .body {
        width: auto;
      }
    </style>
  </head>
  <body onload="getBookmarks()">
    <center>
      <!--Title-->
      <h1>My Bookmarks</h1>
      <!--Button that goes to home screen-->
      <a href="/home"><input class="returnHome" type="button" value="< Return Home" /></a>
      <hr>
      <hr>
    </center>
    <!--search bar-->
    <search class="searchBar">
      <form>
        <input class="searchInput" name="fsrch" id="fsrch" placeholder="Search">
      </form>
    </search>
    <div class="navbar">
      <ul> 
        <li><a href="/viewProfilePage"> View Profile </a></li>
        <li><a href="/ProfileSettings">  Settings </a></li>
        <li><a href="/BookmarkPage"> Bookmarks </a></li>
        <li><a href="/ProfileSettings"> Following </a></li>
        <li><a href="/ProfileSettings"> Followers </a></li>
      </ul>
    </div>
    <!--dummy posts-->
    <div class="container">
      <center>
        <div class="post">
          <div id="post1" onclick="redirectToPost(0)" class="clickPost"></div>
          <button onclick="removeFromBookmark()" type="button" class="interactPost"> Remove Bookmark </button>
        </div>
        <br> <div class="post">
          <div id="post2" onclick="redirectToPost(1)" class="clickPost"></div>
          <button onclick="removeFromBookmark()" type="button" class="interactPost"> Remove Bookmark </button>
        </div>
        <br> <div class="post">
          <div id="post3" onclick="redirectToPost(2)" class="clickPost"></div>
          <button onclick="removeFromBookmark()" type="button" class="interactPost"> Remove Bookmark </button>
        </div>
        <button class="pagination" onclick="pageOver(0)"> &laquo; </button>
        <button class="pagination" style="float: right;" onclick="pageLeft(1)"> &raquo; </button>
        <script src="{{ url_for('static', filename='previous-post.js') }}"></script>
        <script src="{{ url_for('static', filename='bookmarkPage.js') }}"></script>
      </center>
    </div>
</html>