<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Cookbook - Home </title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='homePage.css') }}" type="text/css"/>
    <style> @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); </style>
    <script src="{{ url_for('static', filename='homePage.js') }}"></script>
  </head>
  <body>
    <h1> Cookbook </h1>
    <search class="searchBar">
      <form>
        <input class="searchInput" name="fsrch" id="fsrch" placeholder="Search">
      </form>
    </search>
    <div class="navbar">
      <ul> 
        <li><a href="./previous-post.html"> View Profile </a></li>
        <li><a href="./ProfileSettings.html">  Settings </a></li>
        <li><a href="./BookmarkPage.html"> Bookmarks </a></li>
        <li><a href="./ProfileSettings.html"> Following </a></li>
        <li><a href="./ProfileSettings.html"> Followers </a></li>
      </ul> 
      <div onclick="location.href='/createPost'" class="createPost"> + </div>
    </div>
      <div class="container"> 
        <center>
          <div class="post">
            <div onclick="location.href='destination.html'" class="clickPost"> Post One: Apples </div>
            <button onclick="location.href='test.html'" type="button" class="interactPost"> Like </button>
            <button onclick="location.href='test.html'" type="button" class="interactPost"> Comment </button>
            <button onclick="location.href='test.html'" type="button" class="interactPost"> Bookmark </button>
          </div>
          <br> <div class="post">
            <div onclick="location.href='destination.html'" class="clickPost"> Post Two: Bananas </div>
            <button onclick="location.href='test.html'" type="button" class="interactPost"> Like </button>
            <button onclick="location.href='test.html'" type="button" class="interactPost"> Comment </button>
            <button onclick="location.href='test.html'" type="button" class="interactPost"> Bookmark </button>
          </div>
          <br> <div class="post">
            <div onclick="location.href='destination.html'" class="clickPost"> Post Three: Canteloupe </div>
            <button onclick="location.href='test.html'" type="button" class="interactPost"> Like </button>
            <button onclick="location.href='test.html'" type="button" class="interactPost"> Comment </button>
            <button onclick="location.href='test.html'" type="button" class="interactPost"> Bookmark </button>
          </div>
          <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">&raquo;</a>
          </div>
        </center>
      </div>
  </body>
</html>