<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Cookbook - Home </title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='homePage.css') }}" type="text/css"/>
    <style> @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); </style>
  </head>
  <body onload="getPosts()">
    <h1> Cookbook - Home </h1>
    <search class="searchBar">
      <form>
        <input class="searchInput" name="fsrch" id="fsrch" placeholder="Search">
      </form>
    </search>
    <div class="navbar">
      <ul> 
        <li><a href="/viewProfilePage"> View Profile </a></li>
        <li><a href="/ProfileSettings">  Settings </a></li>
        <li><a href="/BookmarkPage"> Bookmarks </a></li>
        <li><a href="/ProfileSettings"> Following </a></li>
        <li><a href="/ProfileSettings"> Followers </a></li>
      </ul> 
      <div onclick="location.href='/createPost'" class="createPost"> + </div>
    </div>
      <div class="container">
        <center>
          <div class="post">
            <div onclick="redirectToPost(0)" class="clickPost" id="p0">
              <h1 class="title"></h1>
              <p class="desc"></p>
            </div>
            <button onclick="location.href='test.html'" type="button" class="interactPost"> Like </button>
            <button onclick="location.href='test.html'" type="button" class="interactPost"> Comment </button>
            <button onclick="addtoBookmark()" type="button" class="interactPost"> Bookmark </button>
          </div>
          <br> <div class="post">
            <div onclick="redirectToPost(1)" class="clickPost" id="p1">
              <h1 class="title"></h1>
              <p class="desc"></p>
            </div>
            <button onclick="location.href='test.html'" type="button" class="interactPost"> Like </button>
            <button onclick="location.href='test.html'" type="button" class="interactPost"> Comment </button>
            <button onclick="addtoBookmark()" type="button" class="interactPost"> Bookmark </button>
          </div>
          <br> <div class="post">
            <div onclick="redirectToPost(2)" class="clickPost" id="p2">
              <h1 class="title"></h1>
              <p class="desc"></p>
            </div>
            <button onclick="location.href='test.html'" type="button" class="interactPost"> Like </button>
            <button onclick="location.href='test.html'" type="button" class="interactPost"> Comment </button>
            <button onclick="addtoBookmark()" type="button" class="interactPost"> Bookmark </button>
          </div>
          <div class="pagination">
            <button onclick="pageLeft()" type="button">&laquo;</button>
            <button onclick="pageRight()" type="button" style="float: right;">&raquo;</button>
          </div>
        </center>
      </div>
    <script src="{{ url_for('static', filename='homePage.js') }}"></script>
  </body>
</html>