<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookbook - Create Account</title>
    <meta name="description" content="description" />
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='newAccountPage.css') }}" type="text/css" />
  </head>
  <body>
    <!--logo image-->
    <aside>
      <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="Cookbook's logo" />
    </aside>
    <!--acct creation fields-->
    <main>
      <h1>Create Account</h1>
      <!-- Backend stuff, don't worry about it -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for msg in messages %}
            <p>{{msg}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <form action="#" method="post">
        <p>Enter Username <input class="enterInfo" type="text" placeholder="Username" name="username"/></p>
        <p>Enter Password <input class="enterInfo" type="password" placeholder="Password" name="password1"/></p>
        <p>Re-Enter Password <input class="enterInfo" type="password" placeholder="Password" name="password2"/></p>
        <p>Enter Email <input class="enterInfo" type="email" placeholder="Email" name="email"/></p>
        <p><input class="saveButton" type="submit" value="Let's cook!" /></p>
      </form>
      <a href="/login">Old friend? Click here to sign in!</a>
    </main>
  </body>
</html>
