<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookbook - Profile Settings</title>
    <meta name="description" content="description" />
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='profileSettings.css') }}" type="text/css" />
    <style type="text/css">
      .body {
        width: auto;
      }
    </style>
  </head>
  <body>
    <center>
      <!--Title-->
      <h1>Profile Settings</h1>
      <!--Button that goes to home screen-->
      <a href="homePage.html"><input class="returnHome" type="button" value="< Return Home" /></a>
      <hr />
      <hr />

      <p></p>

      <!--Display Name setting-->
      <big><strong>Display Name: </strong>Placeholder Jones</big>
      <p></p>
      <input class="enterInfo" type="text" placeholder="Enter new name" />
      <input class="saveButton" type="button" value="Save" />

      <p></p>

      <!--Profile picture setting-->
      <big><strong>Profile Picture</strong></big>
      <p></p>
      <input type="image" />
      <input class="saveButton" type="button" value="Save" />

      <p></p>

      <!--Biography setting-->
      <big><strong>Account Biography</strong></big>
      <p></p>
      <textarea class="bioArea" rows="10" cols="85" placeholder="Enter new account biography">
Placeholder Bio</textarea
      >
      <p></p>
      <input class="saveButton" type="button" value="Save" />

      <p></p>

      <!--Email setting-->
      <p>
        <big><strong>Email: </strong>placeholder123@gmail.com</big>
      </p>
      <input class="enterInfo" type="text" placeholder="Enter new email" />
      <input class="saveButton" type="button" value="Save" />
      <p>
        <big><strong>Backup Email: </strong>placerholder@hotmail.com</big>
        <input class="removeButton" type="button" value="Remove" />
      </p>
      <input class="enterInfo" type="text" placeholder="Enter new email" />
      <input class="saveButton" type="button" value="Save" />

      <p></p>

      <!--Password reset setting-->
      <p>
        <big><strong>Password</strong></big>
      </p>
      <input class="enterInfo" type="text" placeholder="Enter current password" />
      <input class="enterInfo" type="text" placeholder="Enter new password" />
      <input class="enterInfo" type="text" placeholder="Re-enter new password" />
      <p></p>
      <input class="saveButton" type="button" value="Save" />

      <p></p>

      <!--Accessibility settings-->
      <p>
        <big><strong>Accessibility Settings</strong></big>
      </p>
      <!--Font size setting-->
      <p>
        Font size
        <select class="selecter">
          <option value="100">100%</option>
          <option value="75">75%</option>
          <option value="125">125%</option>
        </select>
      </p>
      <!--Color contrast setting-->
      <p>
        Color contrast
        <select class="selecter">
          <option value="normal">Normal</option>
          <option value="low">Low Contrast</option>
          <option value="high">High Contrast</option>
        </select>
      </p>

      <p></p>
      <input class="saveButton" type="button" value="Save" />

      <p></p>

      <!--Privacy settings-->
      <p>
        <big><strong>Privacy Settings</strong></big>
      </p>
      <!--Email display setting-->
      <p>
        <input class="displayCheckbox" type="checkbox" />
        Display email
      </p>
      <!--Account visibility setting-->
      <p>
        Who can view your account?
        <select class="selecter">
          <option value="everyone">Everyone</option>
          <option value="account">Only people with an account</option>
          <option value="friends">Only my friends</option>
          <option value="noone">No one</option>
        </select>
      </p>
      <input class="saveButton" type="button" value="Save" />

      <p></p>

      <!--Account deletion-->
      <p>
        <big><strong>Destroy Account</strong></big>
      </p>
      <p>
        <strong
          >WARNING: These changes are PERMANENT and CANNOT be reversed!!</strong
        >
      </p>
      <p>
        <strong>Archiving your account </strong>will PERMANENTLY remove ACCESS
        to your account. Posting, deleting, editing, and all other activity will
        become inaccessible.
      </p>
      <p>
        <strong>Deleting your account </strong>will PERMANENTLY delete
        EVERYTHING in regards to your account. All posts and other activity will
        be permanently deleted from Cookbook.
      </p>
      <input class="archiveButton" type="button" value="ARCHIVE ACCOUNT" />
      <input class="deleteButton" type="button" value="DELETE ACCOUNT" />
    </center>
  </body>
</html>
