<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookbook - My Profile</title>
    <meta name="description" content="description" />
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='viewProfilePage.css') }}" type="text/css" />
  </head>
  <body onload="runStartFunctions()">
    <div class="navbar">
      <ul> 
        <li><a href="/home"> Return Home </a></li>
        <li><a href="/ProfileSettings">  Settings </a></li>
        <li><a href="/BookmarkPage"> Bookmarks </a></li>
        <li><a href="/ProfileSettings"> Following </a></li>
        <li><a href="/ProfileSettings"> Followers </a></li>
      </ul> 
    </div>
    <img src="{{ url_for('static', filename='imgs/test-pfp.png') }}" alt="User's profile picture" />
    <a id="username" class="userName"></a>
    <script src="{{ url_for('static', filename='viewProfilePage.js') }}"></script>
    <!--dummy posts-->
    <div class="container">
      <center>
        <div class="post">
          <div id="post1" onclick="redirectToPost(0)" class="clickPost"></div>
          <button onclick="deletePost()" type="button" class="interactPost"> Delete Post </button>
        </div>
        <br> <div class="post">
          <div id="post2" onclick="redirectToPost(1)" class="clickPost"></div>
          <button onclick="deletePost()" type="button" class="interactPost"> Delete Post </button>
        </div>
        <br> <div class="post">
          <div id="post3" onclick="redirectToPost(2)" class="clickPost"></div>
          <button onclick="deletePost()" type="button" class="interactPost"> Delete Post </button>
        </div>
        <button class="pagination" onclick="pageOver(0)"> &laquo; </button>
        <button class="pagination" style="float: right;" onclick="pageLeft(1)"> &raquo; </button>
        <script src="{{ url_for('static', filename='previous-post.js') }}"></script>
        <script src="{{ url_for('static', filename='viewProfilePage.js') }}"></script>
      </center>
    </div>
  </body>
</html>
