<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookbook - My Profile</title>
    <meta name="description" content="description" />
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='viewProfilePage.css') }}" type="text/css" />
  </head>
  <body onload="runStartFunctions()">
    <header class="imgArea">
      <a href="/home">
        <img class="logo" src="{{ url_for('static', filename='imgs/newLogo2.png') }}" alt="Cookbook's logo"/>
      </a>
      <search class="searchBar">
        <form>
          <input class="searchInput" name="fsrch" id="fsrch" placeholder="Search">
        </form>
      </search>
      <a href="/viewProfilePage">
        <img class="profileImage" src="{{ url_for('static', filename='imgs/test-pfp.png') }}" alt="User Profile Image"/>
      </a>
    </header>
    <div class="navbar">
      <ul> 
        <li><a href="/home"> Return Home </a></li>
        <li><a href="/ProfileSettings">  Settings </a></li>
        <li><a href="/BookmarkPage"> Bookmarks </a></li>
        <li><a href="/viewFollowingFollowersPage"> Follows </a></li>
        <li><a href="/logout"> Log Out </a></li>
      </ul> 
    </div>
    <div class="userArea">
      <img class="profilePic" src="{{ url_for('static', filename='imgs/test-pfp.png') }}" alt="User's profile picture" />
      <a id="username" class="userName"></a>
    </div>
    <script src="{{ url_for('static', filename='viewProfilePage.js') }}"></script>
    <!--dummy posts-->
    <div class="container">
      <center>
        <div class="post">
          <div class="clickPost" id="p0">
            <h2 class="user"></h2>
            <h1 class="title"></h1>
            <p class="desc"></p>
            <p>
              <span id="dots0">...</span>
              <span class="more" id="more0">
                <strong></strong> <a class="ingredients"></a>
                <br> <strong></strong> <a class="instructions"></a>
                <br> <strong></strong> <a class="tags"></a>
              </span>
            </p>
            <p class="hidden" hidden></p>
            <button onclick="showExcessText(0)" id="showMore0" class="showButton">Show More</button>
          </div>
          <button onclick="deletePost()" type="button" class="interactPost"> Delete Post </button>
        </div>
        <br> <div class="post">
          <div class="clickPost" id="p1">
            <h2 class="user"></h2>
            <h1 class="title"></h1>
            <p class="desc"></p>
            <p>
              <span id="dots1">...</span>
              <span class="more" id="more1">
                <strong></strong> <a class="ingredients"></a>
                <br> <strong></strong> <a class="instructions"></a>
                <br> <strong></strong> <a class="tags"></a>
              </span>
            </p>
            <p class="hidden" hidden></p>
            <button onclick="showExcessText(1)" id="showMore1" class="showButton">Show More</button>
          </div>
          <button onclick="deletePost()" type="button" class="interactPost"> Delete Post </button>
        </div>
        <br> <div class="post">
          <div class="clickPost" id="p2">
            <h2 class="user"></h2>
            <h1 class="title"></h1>
            <p class="desc"></p>
            <p>
              <span id="dots2">...</span>
              <span class="more" id="more2">
                <strong></strong> <a class="ingredients"></a>
                <br> <strong></strong> <a class="instructions"></a>
                <br> <strong></strong> <a class="tags"></a>
              </span>
            </p>
            <p class="hidden" hidden></p>
            <button onclick="showExcessText(2)" id="showMore2" class="showButton">Show More</button>
          </div>
          <button onclick="deletePost()" type="button" class="interactPost"> Delete Post </button>
        </div>
        <br> <div class="post">
          <div class="clickPost" id="p3">
            <h2 class="user"></h2>
            <h1 class="title"></h1>
            <p class="desc"></p>
            <p>
              <span id="dots3">...</span>
              <span class="more" id="more3">
                <strong></strong> <a class="ingredients"></a>
                <br> <strong></strong> <a class="instructions"></a>
                <br> <strong></strong> <a class="tags"></a>
              </span>
            </p>
            <p class="hidden" hidden></p>
            <button onclick="showExcessText(3)" id="showMore3" class="showButton">Show More</button>
          </div>
          <button onclick="deletePost()" type="button" class="interactPost"> Delete Post </button>
        </div>
        <br> <div class="post">
          <div class="clickPost" id="p4">
            <h2 class="user"></h2>
            <h1 class="title"></h1>
            <p class="desc"></p>
            <p>
              <span id="dots4">...</span>
              <span class="more" id="more4">
                <strong></strong> <a class="ingredients"></a>
                <br> <strong></strong> <a class="instructions"></a>
                <br> <strong></strong> <a class="tags"></a>
              </span>
            </p>
            <p class="hidden" hidden></p>
            <button onclick="showExcessText(4)" id="showMore4" class="showButton">Show More</button>
          </div>
          <button onclick="deletePost()" type="button" class="interactPost"> Delete Post </button>
        </div>
        <br> <div class="post">
          <div class="clickPost" id="p5">
            <h2 class="user"></h2>
            <h1 class="title"></h1>
            <p class="desc"></p>
            <p>
              <span id="dots5">...</span>
              <span class="more" id="more5">
                <strong></strong> <a class="ingredients"></a>
                <br> <strong></strong> <a class="instructions"></a>
                <br> <strong></strong> <a class="tags"></a>
              </span>
            </p>
            <p class="hidden" hidden></p>
            <button onclick="showExcessText(5)" id="showMore5" class="showButton">Show More</button>
          </div>
          <button onclick="deletePost()" type="button" class="interactPost"> Delete Post </button>
        </div>
      </center>
    </div>
    <script src="{{ url_for('static', filename='viewProfilePage.js') }}"></script>
  </body>
</html>
